form {
    padding: 1rem 0.7rem 7rem 0.7rem;
    border: none;
    outline: none;
}

label {
color: #ccd0ce;
margin-right: 10em;
}

input {
    border: none;
    border-radius: 0.1em;
    outline: none;
    background-color: rgba (204 208 206 0.6);
    cursor: pointer;
    width: 15em;
    height: 1.5em;
    padding: 0.5em;
}

option {
    border: none;
    outline: none;
}