form {
    padding: 1rem 0.7rem 7rem 0.7rem;
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

label {
color: #ccd0ce;
margin-right: 10em;
}

.field-date input, .field-email input {
    border: none;
    border-radius: 0.1em;
    outline: none;
    background-color: rgba(180, 158, 17, 0.1);
    color: #ccd0ce;
    cursor: pointer;
    width: 15em;
    height: 1.5em;
    padding: 0.5em;
}

.field-time select {
    background-color: rgba(180, 158, 17, 0.1);
    color: #ccd0ce;
    border: none;
}

.field-email input::placeholder {
    color: #ccd0ce;
}

.field-occasion select {
    background-color: rgba(180, 158, 17, 0.1);
    color: #ccd0ce;
    border: none;
}

.field-numguests input {
    border: none;
    border-radius: 0.1em;
    outline: none;
    background-color: rgba(180, 158, 17, 0.1);
    color: #ccd0ce;
    cursor: pointer;
    width: 6em;
    padding: 0.3em;
    height: 1.5em;
}

option {
    border: none;
    outline: none;
    width: 6em;
}

.reserve-submit {
    background-color: #F4CE14;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    color: #333333;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin-top: 1em;
}