@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700;800&family=Markazi+Text:wght@400;500&display=swap');

* {
    font-family: 'Karla', sans-serif;
    font-size: 13pt;
    color: #333333;
}
.main-nav {
    background-color: #eff3eb;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

img{
width: 20vw;
padding: 5px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
    font-size: 15px;
    text-decoration: none;
    color:#3c492f;
    background-color: #eff3eb;
    width: 70vw;
}