@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700;800&family=Markazi+Text:wght@400;500&display=swap');

* {
    font-family: 'Karla', 'Markazi', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}