@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700;800&family=Lato&display=swap');

.specials-banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #495e57;
    padding: 1em;
}

Card {
    background-color: #495e57;
}

.specials-title {
    font-family: 'Lato';
    color: #EDEFEE;
    font-size: 1.5em;
    text-align: center;
    padding-top: 1em;
}

.specials-title h1 {
    text-align: center;
}

.specials-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    background-color: #495e57;
}

.card-body {
    padding-top: 1em;
}

.card-image {
    width: 20vw;
}

.card-title {
    color: #F4CE14;
}

.card-price {
    color: #333333;
    margin-bottom: 0.3em;
}

.card-text {
    color: #333333;
    font-size: 0.9em;
    max-width: 65ch;
    line-height: 1.5;
    margin-top: 0.5em;
}
