.specials-banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

Card{
    background-color: #EDEFEE;
}

.specials-title {
    font-family: 'Markazi';
    color: #333333;
    font-size: 37px;
    font-weight:bold;
}

.specials-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #EDEFEE;
}

.title-text {
    color: #333333;
    font-size: 16px;
    max-width: 65ch;
    line-height: 1.5;
}
